# .env.example - Renombrar a .env y completar

# Database
# Database - SQLite
DATABASE_URL=sqlite:///./sonara.db

# JWT (generar con: python -c "import secrets; print(secrets.token_urlsafe(32))")
JWT_SECRET=tu_clave_secreta_de_32_caracteres_minimo
JWT_ALG=HS256
JWT_EXPIRES_MIN=1440

# API
PROJECT_NAME=SonaraAPI

# Modelo TTS (obligatorio)
MODEL_PATH=ia-models
MODEL_NAME=Qwen3-TTS-12Hz-0.6B-Base
# Opciones: Qwen3-TTS-12Hz-0.6B-Base, Qwen3-TTS-12Hz-1.7B-Base
# Device: cpu, cuda (NVIDIA GPU), mps (Mac M1/M2)
DEVICE=cpu

#Logging
LOG_LEVEL=INFO
#Options: DEBUG, INFO, WARNING, ERROR, CRITICAL 
#Default: INFO

# Output
OUTPUT_DIR=audio


# Espectro de audio (opcional)
# pixels_per_second: puntos por segundo en el espectro
# Valores recomendados:
#   1  = 1 punto por segundo (muy baja resolución)
#   2  = 2 puntos por segundo (cada 0.5 segundos) 
#   5  = 5 puntos por segundo (cada 0.2 segundos)
#   10 = 10 puntos por segundo (cada 0.1 segundos)
#   20 = 20 puntos por segundo (cada 0.05 segundos - alta resolución)
PIXELS_PER_SECOND=2